SMTP_SERVER=mail.iitdeveloper.com
SMTP_PORT=465
SMTP_AUTH_IDENT=mukul@iitdeveloper.com
SMTP_AUTH_PASSWORD=
SMTP_AUTH_NAME=Mukul
TEMPLATE_DIR=templates
FLASK_ENV=development  # Set to 'production' in production
PORT=5000